body {
    /* absolute -> 0 to 1 | 1 -> brighest ; 0 -> lightest (white) */
    background: linear-gradient(to bottom, rgba(138, 187, 242, 1), rgba(138, 187, 242, 0.3));
}

/* selector {
    cssProp: value;
} */

/* SELECTORS */
/* 1. Element Selector */
/* a {
    color: green;
} */

/* It will sleect all the h1 from the documnet */
/* h1 {
    color: green;
} */

/* p {
    color: blue;
} */

/* 2. Id Selectors -> you want to add a specific style to specif element */
/* #ordered-list {
    color: brown;
} */

/* #page-heading {
    color: purple;
} */

/* #para-2 {
    color: blue;
} */

/* #my-span {
    color: cyan;
} */

/* 3. Class Selectors -> you want to add a common style to multiple elements */
/* .ordered-list {
    color: pink;
} */

/* .page-heading {
    color: gray;
} */

/* .my-para {
    color: blue;
} */

/* 4. Attribute Selectors - [ ] */
/* ^ -> starts with
$ -> ends with
* -> contains */
/* Q - I want to color 'a' black if it contains absolute link --> href starts with https */
/* element[attribute = " "] */
/* a[href^="https:"] {
    color: black;
} */

/* Q - I want to find all the anchor tags which points towards an Indian hosted websites */
/* a[href$=".in"] {
    color: red;
} */

/* Q - I want to find all the anchor tags which contains '/' anyehere in the link */
/* a[href*="//"] {
    color: green;
} */

/* 5. Pseudo Selectors (:) -> Applied at a certain stage / state */
/* #page-heading:hover {
    color: red;
} */

/* n-th child */
/* .unordered-list-item:first-child {
    color: yellow;
}

.unordered-list-item:last-child {
    color: red;
}

.unordered-list-item:nth-child(3) {
    color: gray;
} */

/* .unorder-list-item:nth-child(even) {
    color: gray;
} */


/* COLORS IN CSS */
/* 1. named colors
2. HEX coded colors
3. rgb colors */

/* p {
    color: rgb(96, 147, 247);
} */

/* CSS Gradients */
/* 1. Liner Gradients */
#box-one {
    width: 75%;
    height: 350px;
    /* background: yellow; */
    /* background: url('https://parade.com/.image/t_share/MTkwNTgxMjkxNjk3NDQ4ODI4/marveldisney.jpg');
    background-size: contain; */

    /* Linear Gradients are created top to bottom by default */
    /* Directions -> to bottom, to top, to left, to right */
    /* Cornered Directions -> to top left, to top right, to bottom left, to bottom right */
    /* 0deg means Top | It always more in a clock-wise direction */
    background: linear-gradient(0deg, red, yellow, orange, blue, green, white);
}

/* 2. Radial Gradients */
#box-two {
    width: 75%;
    height: 350px;
    background: radial-gradient(circle, black, blue, green, yellow);
}

#my-box {
    height: 400px;
    width: 60%;

    border: 3px solid purple;
    padding: 10px;
    margin: 20px;
}

/* CSS FlexBox */
.flex-items {
    width: 35px;
    height: 35px;
    padding: 10px;
    margin: 10px;
    
    background-color: green;
    color: white;
    text-align: center;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;

    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;

    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */

    justify-content: space-around;

    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    flex-direction: column-reverse;
}

/* vvImp Q - How to center a div using a FlexBox */

/* Bootstrap */